<html>

<head>
    <title>Chat room</title>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="wrapper">
        <h2>Welcome to chat room</h2>
        <input type="text" id="txtRoom" />
        <input type="button" id="btnCreateRoom" value="Create new room">
    </div>

</body>


</html>